*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* class */



.createMealsDiv
{
  margin: 20px;
}
.createMealsTabsContainer
{
  display: flex;
  /* justify-content: flex-start; */
  

  border-bottom:3px solid #01ca5e;

}
.createMealsTabs
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  transform: translateY(3px);

  padding: 10px 10px;
}
.createMealsTabs:hover
{
  background-color: #01ca5e;
  color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}
.createMealsContent
{
  height: 450px;
}

#createMealsContainer
{
  display: none;
  justify-content: space-between;
  height: 100%;
}

/* Meals Left */

.createMealsLeft
{
  width: 75%;
  height: fit-content;
  margin-left: 10px;
}
.createMealsLeftHeaderContainer
{
  width: 100%;
  height: fit-content;

  
}
.createMealNameContainer
{
  margin-top: 15px;
}
.createMealLeftLable
{   
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 10px;
}
.createMealDiscriptionContainer
{
  margin-top: 15px;
}
.createMealDiscriptionInput
{
  margin-left: 8px;
  width: 75%;
}
.createMealsPortionsContainer
{
  overflow-y: hidden;
  height: fit-content;
}
.createMealsPortionDivs
{
  display: flex;
  justify-content: space-between;
  /* border: 3px solid rgb(0, 0, 0); */
  margin-top: 25px;
}
.createMealsPortionLable
{
  font-size: 1rem;
  color: black;
  
  display: block;
  margin-bottom: 8px;
}
.createMealsPortionInput
{
  width: 80%;
  height: 20px;
  
  border: 1px solid #999999;
  color: #666666; 
}
.createMealsPortionFirstSection
{
  width: 45%;
}
.createMealsPortionSecondSection
{
  width: 25%;
}
.createMealsPortionRemoveButton
{
  width: 75px;
  height: 30px;
  
  background-color: #F10000;
  color: white;

  align-self: flex-end;
  margin-right: 20px;
  border: 2px solid white;
  padding: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
  
  
  
  




/* ID */
#yourMeals
{
    border-left: 3px solid #01ca5e;
    border-top:3px solid #01ca5e;
    border-right: 3px solid #01ca5e;
    border-bottom: 3px solid #F0EFF4 ;
}
#createMeals
{
  transform: translateX(-3px) translateY(3px);
}

#createMealsAddPortion
{
  margin-top: 20px;
  margin-right: 20px;
  width: 70px;
  height: 30px;

  cursor: pointer;
 
  background-color: #01ca5e;
  color: white;

  align-self: flex-end;
  
  padding: 0px 10px;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 17px;
}
#createMealsSave
{
  margin-top: 20px;
  width: 70px;
  height: 30px;
  
  cursor: pointer;
 
  background-color: #01ca5e;
  color: white;

  align-self: flex-end;
  padding: 0px 10px;
  border-radius: 10px;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 17px;
}


/* Meals Right */

.createMealsRight
{
  width: 25%;

  position: relative;
}
.createMealsRightHeaderContainer
{
  display: flex;
  align-items: end;
  justify-content: space-evenly;

  height: 20%;

  border-left: 3px solid #01ca5e;
  border-bottom: 3px solid #01ca5e;
}
.createMealsRightPortionContainer
{
  display: flex;
  align-items: end;
  justify-content: space-evenly;

  height: 16%;

  border-left: 3px solid #01ca5e;
  border-bottom: 3px solid #01ca5e;
}
.createMealsRightPortionTotalContainer
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 13%;

  border-left: 3px solid #01ca5e;
}
.createMealsCalories
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.createMealsPrice
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.createMealsPortionCal
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;  
}
.createMealsPortionPrice
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
}





/* Id */
#createMealsPortionFirstDiv
{ 
  display: none;
} 
#createMealsPortionSecondDiv
{
  display: none;
}
#createMealsPortionThirdDiv
{
  display: none;
}
#createMealsPortionFourthDiv
{
  display: none;
}
#createMealsPortionFifthDiv
{
  display: none;
}
#createMealsPortion1Cal
{
  display: none;
}
#createMealsPortion2Cal
{
  display: none;
}
#createMealsPortion3Cal
{
  display: none;
}
#createMealsPortion4Cal
{
  display: none;
}
#createMealsPortion5Cal
{
  display: none;
}
#createMealsPortion1Price
{
  display: none;
}
#createMealsPortion2Price
{
  display: none;
}
#createMealsPortion3Price
{
  display: none;
}
#createMealsPortion4Price
{
  display: none;
}
#createMealsPortion5Price
{
  display: none;
}