/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2024, 2:39:17 PM
    Author     : adipasith
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.back-arrow {
    margin-bottom: 20px;
    font-size: 38px;
    text-decoration: none;
    color: #01CA5E;
    padding-right: 330px;
}

.card {
    border-radius: 2.5%;
    background-color: rgb(218, 213, 213);
    padding: 20px;
    width: 400px;
    text-align: center;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    text-align: left;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1.5px solid #01CA5E;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

input[type="text"],
input[type="password"] {
    width: calc(110% - 120px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-left: 25px;
}

button.green-btn {
    background-color: #01CA5E;
    border: 1px solid #01CA5E;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 39px;
}

button.confirm-btn {
    background-color: #01CA5E;
    border: 1px solid #01CA5E;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 270px;
}

label {
    display: block;
    margin-bottom: 5px;
}