/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2024, 8:26:23 PM
    Author     : Sandali
*/

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-istok-web: "Istok Web";
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-mediumspringgreen: #01ca5e;
  --color-gray-100: rgba(0, 0, 0, 0.77);
  --color-khaki: rgba(230, 222, 145, 0.81);
  --color-whitesmoke: #eff0f3;
  --color-limegreen: #6cdf25;
  --color-red: #f10000;

  /* Gaps */
  --gap-xl: 20px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-11xs: 2px;
  --padding-10xs-3: 2.3px;
  --padding-7xs: 6px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-56xl: 75px;
  --padding-18xl: 37px;
  --padding-8xs: 5px;
  --padding-19xl: 38px;
  --padding-22xl: 41px;

  /* Border radiuses */
  --br-51xl: 70px;
  --br-3xs: 10px;
  --br-mini: 15px;
}
