/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rye&display=swap');



.homePageDiv {
    background-image: url("../Images/Diet image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    /*background-position: right top;*/
  }
  
  .mainVideoDiv {
    height: 610px;
    width: 100%;
  
  .mainVideo {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  }
  
  .topicDiv {
    width: 100%;
    height: 475px;
    background: rgba(255, 255, 255, 0.3);
  }

  .topicTextDiv {
    margin-left: 100px;
    /*margin-right: 800px;*/
    height: 200px;
    width: 600px;
    padding: 55px;

    color: rgba(255, 255, 255, 0.8);
    /*text-shadow: 15px 15px 20px white;*/

    font-family: "Protest Revolution", sans-serif;
    font-weight: 10;
    font-style: normal;      
    font-size: 35px;

    .text1 {
        width: 100%;
        height: 120px;
        text-align: left;
        word-spacing: 30px;
        letter-spacing: 5px;
    }
      
    .text2{
        width: 100%;
        height: 120px;
        text-align: center;
        word-spacing: 30px;
        letter-spacing: 5px;
    }
    
    .text3{
        width: 100%;
        height: 120px;
        text-align: right;
        word-spacing: 30px;
        letter-spacing: 5px;
    }
  }

  .discriptionDiv{
    height: 850px;
    width: 100%;
    background-color: white;
    border: 10px solid #444444;

    .firstParagraphDiv{
      height: 450px;
      width: 450px;
      margin-top: 120px;
      margin-left: 95px;
      margin-right: 75px;
    }
    
    .para1{
      font-family: monospace;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      line-height: 70px;
    }

    .secondParagraphDiv{
      height: 800px;
      width: 700px;
      background-color: white;
      position: absolute;
      right: 150px;
      top: 1050px;
      border-top: 7px solid #01ca5e;
      box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    }

    .para2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      font-weight: lighter;
      text-align: center;
      line-height: 55px;
      margin-top: 80px;
      margin-left: 45px;
      margin-right: 45px;
      margin-bottom: 100px;
    }

    .buttonDiv{
      text-align: center;

      .buttonGreen{
        background-color: #01ca5e;
        color: rgb(255, 255, 255);
  
        height: 75px;
        width: 250px;
        border: none;
        padding: 0px 10px;
        border-radius: 10px;
        cursor: pointer;
  
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;    
      }

      .buttonGreen:hover{
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
      }

      .buttonGreen:active{
        background-color: #01ca5e;
        transform: translateY(3px);
      }
    }

    
  }

  .mealsDiv{
    height: 900px;
    width: 100%;
    background-color: white;
    
    .topic2{
      font-family: "Rye", serif;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;

      padding: 70px;
      /*padding-bottom: 120px;*/
      text-align: center;
    }
    
    .mealsCarouselDiv{
      height: 650px;
      width: 100%;
    }

    .mealsListDiv{
      height: 600px;
      width: 92%;
      margin-left: auto;
      margin-right: auto;
    }

    .Card{
      height: 510px;
      width: 270px;
      background-color: white;
      border-radius: 15px;

      .cardImageDiv{
        height: 250px;
        width: 250px;

        .cardImage{
          height: 250px;
          width: 250px;
          margin: 10px;
          border-radius: 15px;
        }
      }

      .mealDiscriptionDiv{
        margin: 15px;
        padding-top: 7px;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        font-style: italic;
        font-weight: lighter;
      }

      .mealCalDiv{
        margin: 15px;
        padding-top: 15px;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
      }

      .mealPriceDiv{
        margin: 15px;
        padding-top: 10px;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
      }

      .orderButtonDiv{
        text-align: center;
        padding-top: 15px;

        .orderButton{
          background-color: #01ca5e;
          color: rgb(255, 255, 255);

          height: 40px;
          width: 130px;
          border-radius: 10px;
          cursor: pointer;
    
          font-family: Arial, Helvetica, sans-serif;
          font-size: larger;
        }

        .orderButton:hover{
          background-color: #01ca5fb3; 
        }

        .orderButton:active{
          background-color: #01ca5e;
          box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .Card:hover{
      height: 510px;
      width: 271px;

      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.4);

      .cardImage{
        height: 250px;
        width: 251px;
      }

      .mealDiscriptionDiv{
        font-size: 12.25px;
      }

      .mealCalDiv{
        font-size: 20.25px;
      }

      .mealPriceDiv{
        font-size: 20.25px;
      }
    }
  }
  
  .feedbackDiv{
    height: 700px;
    width: 100%;
    background-color: white;
    
      .feedbackground{
        height: 600px;
        width: 1000px;

        background-image: url("../Images/Feedback image.png");
        background-size: 800px 700px;
        background-repeat: no-repeat;
        background-position: right;

        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: auto;

      .backblur{
        height: 600px;
        width: 1000px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
      }
      
      .commentbar{
        height: 150px;
        width: 1000px;
        position: absolute;
        bottom: 0;

        background-image: url("../Images/Feedback image.png");
        background-size: 800px 530px;
        background-repeat: no-repeat;
        background-position: right bottom;

        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;

      .backblur2{
        height: 150px;
        width: 1000px;
        background-color: rgba(0, 0, 0, 0.3);

        position: absolute;
        bottom: 0;
      }
      }
    }
    
  }
  