/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2024, 12:08:56 AM
    Author     : Nimeshi
*/

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .header {
    text-align: justify;
    margin-bottom: 20px;
    
  }
  
  .notification {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  border-spacing: 5px 0;
}
  
  
  .notification-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .notification-title h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .mark-as-read {
    color: #fff;
    cursor: pointer;
    border: 1px solid #01CA5E;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #01CA5E;

  }
  
  .notification-body {
    margin-bottom: 10px;
  }
  
  .notification-date {
    text-align: right;
    font-size: 12px;
    color: #aaa;
  }
  
  .mark-all-as-read {
    text-align: center;
    margin-top: 20px;
  }
  
  .mark-all-as-read span {
    color: #aaa;
    cursor: pointer;
  }


