/* 
    Created on : Apr 15, 2024, 1:15:11 AM
    Author     : Prasad
*/

/* Imports */
@import url('global.css');

/* Tags */
body
{
    background-color: black;
}


/* -------- Left Div -------- */

/* Class */
.profileDiv
{
    background-color: #F0EFF4;

    border: 2px solid #404040;
    border-radius: 15px;

    margin: 10px;
}

.profileDivLeft {
    height: 100%;
    width: 25%;
}

.profileImageDiv {
    height: 200px;
    width: 200px;

    border: 3px solid #01ca5e;
    border-radius: 100%;

    margin: 0px auto;
    margin-top: 20px;

    text-align: center;
}

.profileImageDiv:hover
{
    background-color: rgba(0, 192, 102, 0.2);
    border: 3px solid #ffffff;
}

.profileImage {
    height: 100%;
    width: 100%;

    border-radius: 100%;
    object-fit: cover;

}

.profileTabsDiv
{
    margin:20px 0px 30px 0px;
    border-bottom: 2px solid #404040;
     cursor: pointer;
  font-family: monospace;
  font-style: BOLT;
}


.profileTabs
{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;

    padding: 10px;

    margin: 0px;

    text-align: center;

    border-top: 2px solid #404040;


  cursor: pointer;
  font-family: monospace;
  font-style: BOLT;
  font-size: large;

}

.profileTabs:hover
{

  color: #01ca5e;
  border-left: 3px solid #01ca5e;

}



/* Id */
#profile {
    display: flex;
    width: 100%;

    background-color: black;
}

#profileImageSubmit
{
    display: none;
}

#addImageInput
{
    display: none;
}

#addImageInputCover
{
    height: 50px;
    width: 50px;

    transform: translateY(-125px);

    cursor: pointer;
    background-image: url("../Assets/image.png");
    background-size: cover;

    display: none;

}


/* -------- Right Div -------- */

/* Class */

.profileDivRight {
    min-height: 100%;
    width: 75%;

}