/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2024, 12:32:09 PM
    Author     : Nimeshi
*/



.notification-Purchase {
   width: 101.5%;
    margin: 10px;
    margin-top: -1px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 5px;
    margin-left: -4px;
    
  }
  
  .PURnotification {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    border: 2px solid #01CA5E;
    border-radius: 5px;
    
  }
  
  .PURnotification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 3px solid #01CA5E;
  }
  
  .PURnotification-header h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
  }

  .see-more-btn {
    color: #fff;
    cursor: pointer;
    border: 1px solid #01CA5E;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #01CA5E;
    font-size: 13px;
    position: relative;
    top: 22px;
    right: 0;
    display: inline-block;
    
  }
  
  .timestamp {
    font-size: 12px;
    font-weight: bold;
    color: #01CA5E;
    margin-top: 10px;
    text-align: right;
  }