/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2024, 7:12:01 PM
    Author     : adipasith
*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image:url(diet2.jpg) ;
    background-repeat: no-repeat;
    
     
}

.backblur{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    justify-content: center;
    display: flex;
    align-items: center;
    
}


.card {
  border-radius: 2.5%; 
  background-color: rgb(218, 213, 213);
  padding: 20px;
  width: 300px;
  text-align: center;
  border: 2px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px; 
}


h2, h4 {
  margin: 0;
/*  text-decoration: #01CA5A*/
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1.5px solid #01CA5E;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  
 
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 97%;
  padding: 8px; 
  margin-bottom: 30px;
  margin-left: -5px;;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

a {
  text-decoration: none;
  color: blue;
}

button.green-btn {
  background-color: #01CA5E;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  
}
button:hover {
    background-color:095217 ;
}

.register-text {
  margin-top: 20px;
  text-align: left;
}

.forgot-password-link {
  padding-right: 180px; 
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .center {
    padding: 20px; /* Add padding for smaller screens */
  }
  
  .card, .carousel-card {
    width: 100%; /* Make cards full width on smaller screens */
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .forgot-password-link {
    padding-right: 0; /* Remove padding for forgot password link on smaller screens */
    text-align: center; /* Align forgot password link to the right on smaller screens */
  }
}
