<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Meals</servlet-name>
        <jsp-file>/JSP/Meals/meals.jsp</jsp-file>
    </servlet>
    
   <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/JSP/Signup/Sign_In.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <jsp-file>/JSP/Signup/Sign_up.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>com.teamhydra.Email.VerificationServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GetVerify</servlet-name>
        <jsp-file>/JSP/Signup/Register_VerifyCode.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.dietme.productmeal.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>com.dietme.productmeal.BuyNowServlet</servlet-class>
    </servlet>
<!--<<<<<<< HEAD
    <servlet>
        <servlet-name>VerificationServlet</servlet-name>
        <servlet-class>com.teamhydra.Controllers.VerificationServlet</servlet-class>
    </servlet>
=======-->


    <servlet>
        <servlet-name>navbar</servlet-name>
        <jsp-file> /JSP/Common/navbar.jspf</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file> /JSP/Profile/profile.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>ProfileInfo</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/profileInfo.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>CustomMeals</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/customMeal.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Cart</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/cart.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Favourites</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/favourites.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>PurchaseHistory</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/purchaseHistory.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/notifications.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>PendingDeliveries</servlet-name>
        <jsp-file> /JSP/Profile/ProfileFrag/pendingDeliveries.jsp</jsp-file>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Meals</servlet-name>
        <url-pattern>/Meals</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GetVerify</servlet-name>
        <url-pattern>/GetVerify</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/BuyNowServlet</url-pattern>
    </servlet-mapping>
<!--<<<<<<< HEAD
    <servlet-mapping>
        <servlet-name>VerificationServlet</servlet-name>
        <url-pattern>/VerificationServlet</url-pattern>
    </servlet-mapping>
=======-->


    
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    
       <servlet-mapping>
        <servlet-name>navbar</servlet-name>
        <url-pattern>/navbar</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProfileInfo</servlet-name>
        <url-pattern>/ProfileInfo</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CustomMeals</servlet-name>
        <url-pattern>/CustomMeals</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Favourites</servlet-name>
        <url-pattern>/Favourites</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PurchaseHistory</servlet-name>
        <url-pattern>/PurchaseHistory</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>PendingDeliveries</servlet-name>
        <url-pattern>/PendingDeliveries</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
